.bespoke-slide
  &.title
    background-color $c-splash-1
    h1
      border-top 8px solid $c-splash-2
      border-bottom 8px solid $c-splash-2
      color $c-white
      padding 0.75em sw(25)
      text-align center
      font-size 5rem
      line-height 1.25
    em
      font-family $family-fancy
    footer
      position absolute
      bottom 0
      line-height 1
      font-size 1.75rem
      font-weight $weight-thin
      color rgba(255, 255, 255, $text-alpha)
      .author
        margin-top 0
        padding 1em 0
        > span + span::before
          content "~"
          padding 0 1rem
  &.topic
    h2
      font-size 5rem
      line-height 1.25
      counter-increment hack-idx
      margin-top 0.25em
      margin-left 0.5em
      &::before
        content counter(hack-idx)
        position absolute
        bottom -3.25ch
        left -1.25ch
        line-height 1
        letter-spacing -0.05em
        transform scale(13.5)
        transform-origin bottom left
        font-style italic
        z-index -1
    // TODO separate hack colors from topic so we can reuse in section
    &.hack-1,
    &.hack-5,
    &.hack-9
      background-color $c-splash-1
      color blend(rgba(255, 255, 255, $text-alpha), $c-splash-1)
      h2::before
        color rgba(255, 255, 255, 0.1)
    &.hack-2,
    &.hack-6,
    &.hack-10
      background-color $c-splash-2
      color blend(rgba(0, 0, 0, $text-alpha), $c-splash-2)
      h2::before
        color rgba(0, 0, 0, 0.1)
    &.hack-3,
    &.hack-7,
    &.hack-11
      background-color $c-splash-3
      color blend(rgba(255, 255, 255, $text-alpha), $c-splash-3)
      h2::before
        color rgba(255, 255, 255, 0.1)
    &.hack-4,
    &.hack-8,
    &.hack-12
      background-color $c-splash-4
      color blend(rgba(0, 0, 0, $text-alpha), $c-splash-4)
      h2::before
        color rgba(0, 0, 0, 0.1)
    &.bonus
      background-color #e40046;
      h2
        align-self flex-end
        color rgba(0, 0, 0, 0.65)
        width 47.5%
        text-indent -1em
        padding-left 1em
        margin 0
        z-index 1
        &::before
          content none
      figure
        position absolute
        top -0.5%
        left -25%
        width 99%
  &.huge-text
    background-color $c-splash-4
    color rgba(0, 0, 0, 0.1)
    h2
      transform scale(10)
  &.code
    background-color $c-splash-1
    color $c-white
    pre
      white-space pre-wrap
      font-size 1.75rem
      font-weight $weight-normal
      line-height 1.45
      margin-top 0
      border-top 8px solid $c-splash-2
      border-bottom 8px solid $c-splash-2
      padding 0.75em
      overflow hidden
    &.stretch pre
      width sw(85)
  &.hack-1
    background-color $c-splash-1
  &.hack-4
    background-color $c-splash-4
    color rgba(0, 0, 0, $text-alpha)
  &.conway
    background #000
    flex-direction row
    justify-content space-evenly
    h2
      order 1
      color $c-white
      line-height 1.25
      width sw(50)
    figure.image
      width sw(25)
      img
        border-radius 200%
        width 100%
  &.subject.icon
    background-color $c-splash-1
    color rgba(255, 255, 255, 0.1)
    p
      margin-top 0
      transform scale(10)
    &.illuminate
      color $c-splash-2
  &.summary
    background-color $c-splash-4
    ol
      color rgba(0, 0, 0, 0.85)
      margin 0
      padding 0 5%
      width 100%
      line-height 1.5
      font-size 2.25rem
      font-weight $weight-semibold
      text-align right
      list-style none
      letter-spacing 0.015em
    // FIXME move to h2 title
    p
      margin 0
      position absolute
      left 5%
      width 40%
      font-size 4rem
      font-weight $weight-bold
      text-align center
      line-height 1.25
      //opacity 0.5
      color rgba(0, 0, 0, $text-alpha)
  &.summary
    background-color $c-splash-1
    ol
      color $c-splash-2
    p
      color $c-white
    em
      font-family $family-fancy
  &.thanks
    background-color $c-splash-1
    color $c-white
    p
      margin-top 0
      font-size 1.75rem
      position absolute
      line-height 1.5
      bottom 0
      padding 1em 0
      font-weight $weight-semibold
    a
      display block
      color $c-splash-2
      text-decoration none
